*{
	margin: 0;
	padding: 0;
}

.hero
{
	height: 1000px;
	width:1000px;
	background-image: url("Oxford's-international-profile.jpg");
	background-position: center;
	background-size: cover;
	position: absolute;

}
.form-box
{
	width:380px;
	height:480px;
	position: relative;
	margin: 6% auto;
	background: white;
	padding:5px;
}
.botton-box
{
	width:220px;
	margin:35px auto;
	position: relative;
	box-shadow: 0 0 20px,9px #ff61241f;
	border-radius: 30px;
}